body{
    background-image:linear-gradient(110deg,rgb(149, 239, 204),rgb(212, 245, 80));
    color:black;
    font-family: sans-serif;
}

h1{
    display: flex;
    justify-content: center;
}

header,form{
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 form input,form button{
    border:none;
    font-size: 28px;
    padding:8px;
    background: white;
 }

 form button{
    cursor: pointer;
    background-color: rgb(251, 195, 90);
 }

 .todo-container{
    display:flex;
    justify-content: center;
    /* align-items: center ; */
 }

 .todo-list{
    list-style: none;
    min-width: 33%;
    margin-right:3%;
    
 }

 .todo{
    margin: 0.5rem;
    font-size:  20px;
    padding-left: 7px;
    border-radius: 10px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;

 }

 .todo li{
    flex: 1;
 }

 .completeBtn , .deleteBtn, .editBtn{
    cursor: pointer;
    font-size: 14px;
 }

 .fa-check, .fa-trash-can, .fa-pen-to-square{
    pointer-events: none;
 }

 .done{
    text-decoration: line-through;
    background: rgb(253, 236, 105);
    opacity: 0.5;
 }